openapi: 3.2.0
info:
  title: SingleStore Management Secrets API
  description: The SingleStore Management API is a REST interface for programmatically creating and managing workspace groups and workspaces within SingleStore Helios, the cloud-managed distributed SQL database service. It supports operations for provisioning, updating, suspending, resuming, and deleting workspaces, as well as managing private connections, regions, organizations, jobs, files, secrets, and teams. Authentication uses HTTP Bearer tokens generated from the Cloud Portal, and all requests must be made over HTTPS. An OpenAPI specification is provided alongside the API to facilitate client SDK generation in multiple languages.
  version: v1
  contact:
    name: SingleStore Support
    url: https://support.singlestore.com
  termsOfService: https://www.singlestore.com/cloud-terms-and-conditions/
servers:
- url: https://api.singlestore.com/v1
  description: SingleStore Helios Production Server
security:
- bearerAuth: []
tags:
- name: Secrets
  description: Manage organization-level secrets that can be referenced securely in notebooks and jobs without exposing plaintext credentials.
paths:
  /secrets:
    get:
      operationId: listSecrets
      summary: List Secrets
      description: Retrieves all secrets defined in the current organization, optionally filtered by name. Secret values are not returned in list responses; only metadata such as name, ID, and timestamps are included.
      tags:
      - Secrets
      parameters:
      - name: name
        in: query
        description: Filter secrets by exact name match.
        schema:
          type: string
      responses:
        '200':
          description: List of secrets returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  secrets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: The request did not include a valid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Secret:
      type: object
      description: An organization-level secret that stores sensitive values such as API keys or passwords, which can be referenced in notebooks and jobs without exposing plaintext credentials.
      properties:
        secretID:
          type: string
          format: uuid
          description: Unique identifier of the secret.
        name:
          type: string
          description: Human-readable name used to reference the secret.
        createdBy:
          type: string
          description: Identifier of the user who created the secret.
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the secret was created.
        lastUpdatedBy:
          type: string
          description: Identifier of the user who last updated the secret.
        lastUpdatedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the secret was last updated.
    Error:
      type: object
      description: Standard error response returned when an API request fails.
      properties:
        code:
          type: integer
          description: HTTP status code of the error.
        message:
          type: string
          description: Human-readable description of the error.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key generated from the SingleStore Cloud Portal. Pass the key as a Bearer token in the Authorization header of every request.
externalDocs:
  description: SingleStore Management API Documentation
  url: https://docs.singlestore.com/cloud/reference/management-api/
