openapi: 3.2.0
info:
  title: SingleStore Management Organizations API
  description: The SingleStore Management API is a REST interface for programmatically creating and managing workspace groups and workspaces within SingleStore Helios, the cloud-managed distributed SQL database service. It supports operations for provisioning, updating, suspending, resuming, and deleting workspaces, as well as managing private connections, regions, organizations, jobs, files, secrets, and teams. Authentication uses HTTP Bearer tokens generated from the Cloud Portal, and all requests must be made over HTTPS. An OpenAPI specification is provided alongside the API to facilitate client SDK generation in multiple languages.
  version: v1
  contact:
    name: SingleStore Support
    url: https://support.singlestore.com
  termsOfService: https://www.singlestore.com/cloud-terms-and-conditions/
servers:
- url: https://api.singlestore.com/v1
  description: SingleStore Helios Production Server
security:
- bearerAuth: []
tags:
- name: Organizations
  description: Retrieve information about the current user's organization within SingleStore Helios.
paths:
  /organizations/current:
    get:
      operationId: getCurrentOrganization
      summary: Get Current Organization
      description: Retrieves information about the organization associated with the current API key, including the organization ID, name, and creation timestamp.
      tags:
      - Organizations
      responses:
        '200':
          description: Current organization returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Organization:
      type: object
      description: An organization is the top-level account entity within SingleStore Helios, grouping users, workspace groups, and billing.
      properties:
        orgID:
          type: string
          format: uuid
          description: Unique identifier of the organization.
        name:
          type: string
          description: Human-readable name of the organization.
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the organization was created.
    Error:
      type: object
      description: Standard error response returned when an API request fails.
      properties:
        code:
          type: integer
          description: HTTP status code of the error.
        message:
          type: string
          description: Human-readable description of the error.
  responses:
    Unauthorized:
      description: The request did not include a valid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key generated from the SingleStore Cloud Portal. Pass the key as a Bearer token in the Authorization header of every request.
externalDocs:
  description: SingleStore Management API Documentation
  url: https://docs.singlestore.com/cloud/reference/management-api/
