openapi: 3.2.0
info:
  title: SingleStore Management Regions API
  description: The SingleStore Management API is a REST interface for programmatically creating and managing workspace groups and workspaces within SingleStore Helios, the cloud-managed distributed SQL database service. It supports operations for provisioning, updating, suspending, resuming, and deleting workspaces, as well as managing private connections, regions, organizations, jobs, files, secrets, and teams. Authentication uses HTTP Bearer tokens generated from the Cloud Portal, and all requests must be made over HTTPS. An OpenAPI specification is provided alongside the API to facilitate client SDK generation in multiple languages.
  version: v1
  contact:
    name: SingleStore Support
    url: https://support.singlestore.com
  termsOfService: https://www.singlestore.com/cloud-terms-and-conditions/
servers:
- url: https://api.singlestore.com/v1
  description: SingleStore Helios Production Server
security:
- bearerAuth: []
tags:
- name: Regions
  description: List available cloud provider regions that support workspace group creation, including shared tier regions.
paths:
  /regions:
    get:
      operationId: listRegions
      summary: List Regions
      description: Retrieves all cloud provider regions that support workspace group creation within SingleStore Helios, including the cloud provider name and region identifier for each available region.
      tags:
      - Regions
      responses:
        '200':
          description: List of regions returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /regions/sharedtier:
    get:
      operationId: listSharedTierRegions
      summary: List Shared Tier Regions
      description: Retrieves all cloud provider regions that support shared tier (starter) workspace creation within SingleStore Helios.
      tags:
      - Regions
      responses:
        '200':
          description: List of shared tier regions returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Region:
      type: object
      description: A cloud provider region that supports workspace group creation within SingleStore Helios.
      properties:
        regionID:
          type: string
          description: Unique identifier string for the region used in API requests.
        region:
          type: string
          description: Cloud provider region code (e.g., us-east-1).
        provider:
          type: string
          description: Cloud provider hosting this region.
          enum:
          - AWS
          - GCP
          - Azure
        country:
          type: string
          description: Country where the region is located.
    Error:
      type: object
      description: Standard error response returned when an API request fails.
      properties:
        code:
          type: integer
          description: HTTP status code of the error.
        message:
          type: string
          description: Human-readable description of the error.
  responses:
    Unauthorized:
      description: The request did not include a valid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key generated from the SingleStore Cloud Portal. Pass the key as a Bearer token in the Authorization header of every request.
externalDocs:
  description: SingleStore Management API Documentation
  url: https://docs.singlestore.com/cloud/reference/management-api/
